---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    // updatedDate?: string;
    heroImage?: string;
    lastModified: string;
    location?: string;
  };
}

const {
  content: {
    title,
    description,
    pubDate,
    // updatedDate,
    heroImage,
    location,
    lastModified,
  },
} = Astro.props;

const NewlastModified = dayjs(lastModified)
  .utc()
  .format("YYYY.MM.DD");
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {heroImage && <img src={heroImage} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {
        pubDate && (
          <div class="text-right font-bold text-base">
            <time>{pubDate}</time>
          </div>
        )
      }
      {
        NewlastModified!==pubDate && (
          <div class="text-right font-bold text-base">
            更新于 <time>{NewlastModified}</time>
          </div>
        )
      }
      {location && <div class="text-right font-bold text-base">{location}</div>}
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
  <!-- 评论系统 -->
  <div
    id="cusdis_thread"
    data-host="https://cusdis-blog-comment-qfi3nkhkj-real-rio.vercel.app"
    data-app-id="69026cb6-cc1a-4c56-82fc-f87b0c99be8e"
    data-page-id={title}
    data-page-url="{{ PAGE_URL }}"
    data-page-title={title}
    class="mt-24"
  >
  </div>
  <script
    defer
    src="https://cusdis-blog-comment.vercel.app/js/widget/lang/zh-cn.js"
  ></script>
  <script
    async
    defer
    src="https://cusdis-blog-comment-qfi3nkhkj-real-rio.vercel.app/js/cusdis.es.js"
  ></script>
</BaseLayout>
