---
import BaseHead from "../components/BaseHead.astro";
import Menu from "../components/Menu.astro";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

export interface Props {
  headings: {
    depth: number;
    slut: string;
    text: string;
  }[];
  content: {
    title: string;
    description: string;
    pubDate?: string;
    heroImage?: string;
    lastModified?: string;
    location?: string;
  };
}

const {
  headings,
  content: { title, description, pubDate, heroImage, location, lastModified },
} = Astro.props;

const NewlastModified = lastModified? dayjs(lastModified).utc().format("YYYY.M.DD"):0;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {heroImage && <img src={heroImage} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {
        pubDate && (
          <div class="text-right font-bold text-base italic">
            <time>{pubDate}</time>
          </div>
        )
      }
      {
        NewlastModified!==0 && (
          <div class="text-right font-bold text-base italic">
            更新于 <time class="italic">{NewlastModified}</time>
          </div>
        )
      }
      {location && <div class="text-right font-bold text-base">{location}</div>}
      <div class="divider my-2"></div>
      <!-- 目录 -->
      <Menu headings={headings} />
      <slot />
    </article>
  </main>
  <!-- 评论系统 -->
  <!-- vercel被墙,使用域名comment.rioblog.fun -->
  <div
    id="cusdis_thread"
    data-host="https://comment.rioblog.fun"
    data-app-id="69026cb6-cc1a-4c56-82fc-f87b0c99be8e"
    data-page-id={title}
    data-page-url="{{ PAGE_URL }}"
    data-page-title={title}
    class="mt-24"
  >
  </div>
  <script defer src="https://comment.rioblog.fun/js/widget/lang/zh-cn.js"
  ></script>
  <script async defer src="https://comment.rioblog.fun/js/cusdis.es.js"
  ></script>
</BaseLayout>
